body {
    margin: 0%;
}

p {
    margin: 0%
}

h1 {
    margin: 0%;
}

#wrapper {
    width: 992px;
    margin: auto;
}

body {
    background-color: #8d8c8c;
}

header {
    display: block;
    background-color: #2e3158;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 190px;
}

.logo {
    width: 175px;
    height: 190px;
    background: url("logo.png");
    background-size: 175px 175px;
    background-repeat: no-repeat;
    margin-top: auto;
    margin-bottom: auto;

}

nav {
    padding: 0px 0px 10px 10px;
    font-size: 20px;
    background-color: #2e3158;
}

nav a {
    color: #FFFFFF;
    padding-right: 30px;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
}

nav a:hover {
    color: #dfdfdf;
    font-style: italic;
}

nav a:visited {
    font-style: italic;
}

main {
    padding-bottom: 30em;
    width: auto;
    height: 50%;
    background-color: #FFFFFF;
    font-family: Calibri;
    font-size: 13pt;
    height: auto;
}

#title {
    padding: 4em 4em 2em 4em;
    margin: auto;
    width: 50%;
    text-align: center;
    font-family: Calibri;
}

#container {
    padding: 2em;
}

footer {
    display: block;
    width: 100%;
    background-color: #2e3158;
    text-align: center;
    color: rgb(204, 204, 204);
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: Calibri;
}
#bigp {
    margin: auto;
    width: 50%;
    float: left;
}
#haha {
    transform: rotate(90deg);
    float: right;
    width: 50%;
}

img {
    padding: 3em 3em 3em 3em;
    width: 100%;
    height: auto;

}

footer a {
    color: rgb(238, 238, 238);
}

footer a:hover {
    color: rgb(255, 255, 255);
}

@media only screen and ( max-width: 992px ) {
    #wrapper {
        width: 768px;
        margin: 0em;
    }

}

@media only screen and ( max-width: 768px ) {
    #wrapper {
        width: 100%;
        margin: 0em;
    }
    
    
}