* { box-sizing: border-box; }
body {
    background-color: #FFFFFF;
    background-image: linear-gradient(#eeeeee,#ffffff);
    background-attachment: fixed;
    color: #666666;
    font-family: Verdana;
    
}

header {
    background-color: #BA1C21;
    color: #FFFFFF;
    font-family: Georgia;
    display: block;
}

h1 {
    background-image: url("dsu.jpg");
    background-repeat: no-repeat;
    background-position: right;
    padding-left: 1em;
    height: 72px; 
    line-height: 240%;
    margin-bottom: 0;
}

h2 {
    color: #424242;
    font-family: Georgia;
}

h3 {
    color: #BA1C21;
    
}

main {
    padding-left: 2em;
    padding-right: 2em;
    display: block;
    background-color: #FFFFFF;
    margin-left: 170px;
    padding-top: 1px;
    padding-bottom: 1px;
    display: block;
}

nav {
    padding: 20px 5px 0px 20px;
    font-weight: bold;
    float: left;
    width: 160px;
    display: block;
    
}
nav a {
    text-decoration: none;
}
nav a:link { 
    color: #000033;
}

nav a:visited { 
    color: #CCCCCC;
} 

nav a:hover { 
    color: #CCCCCC;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding-left: 0px;
}
    
dt {
    color: #BA1C21;
    font-weight: bold;
}

.dsu {
    color: #BA1C21;
    font-size: 1.2em;
}

footer {
    padding: 1em;
    font-size: .70em;
    font-style: italic;
    text-align: center;
    background-color: #FFFFFF;
    margin-left: 170px;
    display: block;
}

#wrapper {
    background-color: #424242;
    width: 80%;
    min-width: 700px;
    max-width: 1024px; 
    box-shadow: 0px 3px 3px rgba(66,66,66,0.3);
    margin-right: auto;
    margin-left: auto;
}

#homehero {
    background-image: url("stadiumhero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    margin-left: 170px;

}
#studenthero {
    background-image: url("studenthero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    margin-left: 170px;

}

#facultyhero {
    background-image: url("facultyhero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    margin-left: 170px;

}
#mobile { 
    display: none; 
} 
#desktop { 
    display: inline; }

@media only screen and (max-width: 1024px) { 
    body {
        margin: 0em;
        padding: 0em;
        background-image: none;
    }
    #wrapper {
        width: auto;
        min-width: 0px;
        margin: 0em;
        box-shadow: none;
    }
    h1 {
        margin: 0px;
    }
    nav {
        float: none;
        width: auto;
        padding: .01em 1em .01em 1em;
    }
    nav li {
        display: inline;
    }
    nav a {
        padding-right: 2em;
    }
    main {
        padding: 1em;
        margin-left: 0em;
        font-size: 90%; 
    }
    footer {
        margin: 0em;
    }
    #homehero {
        margin-left: 0em;
    }
    #studenthero {
        margin-left: 0em;
    }
    #facultyhero {
        margin-left: 0em;
    }

@media only all and (max-width: 768px) {
    h1 {
        height: 100%;
        font-size: 1.3em;
        padding-left: 0.3em;
    }
    nav {
        padding: 0em;
    }
    nav a {
        display: block;
        padding: 0.2em;
        font-size: 1.1em;
        border-bottom: #FFFFFF;
    }
    nav ul {
        margin: 0em;
        padding: 0em;
    }
    nav li {
        display: block;
        margin: 0em;
        padding: 0em;
    }
    main {
        padding: 0.1em 0.6em 0.1em 0.4em;
    }
    #homehero {
        display: none;
    }
    #studenthero {
        display: none;
    }
    #facultyhero {
        display: none;
    }
    footer {
        padding: 0em;
    }
    #mobile { 
        display: inline; 
    } 
    #desktop { 
        display: none; 
    }
}
    
    
}
