* { box-sizing: border-box; }
body {
    background-color: #FFFFFF;
    background-image: linear-gradient(#eeeeee,#ffffff);
    background-attachment: fixed;
    color: #666666;
    font-family: Verdana;
    
}

header {
    background-color: #BA1C21;
    color: #FFFFFF;
    font-family: Georgia;
    display: block;
}

h1 {
    background-image: url("dsu.jpg");
    background-repeat: no-repeat;
    background-position: right;
    padding-left: 1em;
    height: 72px; 
    line-height: 240%;
    margin-bottom: 0;
}

h2 {
    color: #424242;
    font-family: Georgia;
}

h3 {
    color: #BA1C21;
    
}

main {
    padding-left: 2em;
    padding-right: 2em;
    display: block;
    background-color: #FFFFFF;
    margin-left: 170px;
    padding: 20px 5px 0px 20px;
    display: block;
}

nav {
    padding: 20px 5px 0px 20px;
    font-weight: bold;
    float: left;
    width: 160px;
    display: block;
    
}
nav a {
    text-decoration: none;
}
nav a:link { 
    color: #000033;
}

nav a:visited { 
    color: #CCCCCC;
} 

nav a:hover { 
    color: #CCCCCC;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding-left: 0px;
}
    
dt {
    color: #BA1C21;
    font-weight: bold;
}

.dsu {
    color: #BA1C21;
    font-size: 1.2em;
}

footer {
    padding: 1em;
    font-size: .70em;
    font-style: italic;
    text-align: center;
    background-color: #FFFFFF;
    margin-left: 170px;
    display: block;
}

#wrapper {
    background-color: #424242;
    width: 80%;
    min-width: 700px;
    max-width: 1024px; 
    box-shadow: 0px 3px 3px rgba(66,66,66,0.3);
    margin-right: auto;
    margin-left: auto;
}

#homehero {
    background-image: url("stadiumhero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    margin-left: 170px;

}
#studenthero {
    background-image: url("studenthero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    margin-left: 170px;

}

#facultyhero {
    background-image: url("facultyhero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    margin-left: 170px;

}
