body {
    background-color: #FFFFFF;
    background-image: linear-gradient(#eeeeee,#ffffff);
    background-attachment: fixed;
    color: #666666;
    font-family: Verdana;
    
}

header {
    background-color: #BA1C21;
    color: #FFFFFF;
    font-family: Georgia;
}

h1 {
    background-image: url("dsu.jpg");
    background-repeat: no-repeat;
    background-position: right;
    padding-left: 1em;
    height: 72px; 
    line-height: 240%;
    margin-bottom: 0;
}

h2 {
    color: #424242;
    font-family: Georgia;
}

h3 {
    color: #BA1C21;
    
}

main {
    padding-left: 2em;
    padding-right: 2em;
    display: block;

}

nav {
    padding: 0.5em 0.5em 0.5em 2em;
    font-weight: bold;
    color: #F3F3F3;
}

nav a {
    text-decoration: none;
} 
dt {
    color: #BA1C21;
    font-weight: bold;
}

.dsu {
    color: #BA1C21;
    font-size: 1.2em;
}

footer {
    padding: 1em;
    font-size: .70em;
    font-style: italic;
    text-align: center;
}

#wrapper {
    background-color: #ffffff;
    width: 80%;
    min-width: 700px;
    max-width: 1024px; 
    box-shadow: 0px 3px 3px rgba(66,66,66,0.3);
    margin-right: auto;
    margin-left: auto;
}

#homehero {
    background-image: url("stadiumhero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;

}
#studenthero {
    background-image: url("studenthero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;

}

#facultyhero {
    background-image: url("facultyhero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;

}
